/node_modules
/public/hot
#/config/wechat.php
/public/storage
/public/uploads
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
app/Http/Controllers/WebHooksController.php
