/**
 *  gobal全局样式
 * ----------------------
 *  作者：叼怎么写！
 *  时间：2014-03-21
 *  准则：NEC
 *  联系：wechat--shoe11414255
 *  创意源于生活，代码如诗从你我开始
 *  OOCSS虽好，需培养，需规范，需慢慢品尝
 *********************************************************************************************/
@charset "utf-8";
/* =reset 网页样式重置
------------------------------------------------------------------------------------------------------------------------------*/
.weixinTip {
    background: url("../images/Tip.png?ghgh") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
.guize {
    background: url("../images/guize.png?ghgh") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.pa{
	position: absolute;
}

.row{
	padding: 240px 48px 0 48px;
}
.col-xs-4{
	padding: 5px 0;
	width: 181px !important;
}
.box{
	overflow: hidden;
}

.model{
    display: none;
    position: absolute;
    top: 180px;
    text-align: center;
    width: 100%;
    z-index: 10
}
.prize_img{
	padding-left: 30px;
}
.exc_btn{
	display: none;
	margin-top: 40px;
}
.layui-layer-prompt{
	width: 60%;
	height: 25%;
}
.layui-layer-input{
	width: 80% !important;
	height: 60px !important;
	line-height: 60px !important;
	font-size: 1.3em;
}
.layui-layer-title{
	line-height: 2em !important;
	height: 2em !important;
	font-size: 2em !important;
}
.layui-layer-btn a{
    width: 6em !important;
    height: 3em !important;
    text-align: center !important;
    line-height: 3em !important;
    font-size: 1.3em !important;
}
.layui-layer, .layui-layer-shade{
	position: absolute !important;
}
.layui-layer-content{
	font-size: 2em !important;
}